:root {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(63, 63, 63);
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
}

/* Mobile Resizing */

@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto;
        grid-template-areas: "header" "main" "footer";
    }

}

header {
    grid-area: header;
}

header, footer {
    background-color: red;
    border-style: solid;
}

main {
    grid-area: main;
    padding: 2rem;
    background-color: white;
    text-align: left;
    border-style: solid;
}

footer {
    grid-area: footer;
    position: relative;
    background-color: red;
    left: 0px;
    bottom: 0px;
}