:root {
    text-align: center;
}

body {
    background: linen;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
}

header {
    grid-area: header;
    background-color: magenta;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: green;
}

footer {
    grid-area: footer;
    position: relative;
    background-color: red;
    left: 0px;
    bottom: 0px;
}